---
import { ClientRouter } from 'astro:transitions';
import '../styles/global.css'
import mijbpLogo from '../assets/img/logo/logo.webp';
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={mijbpLogo.src} />
		<meta name="generator" content={Astro.generator} />
		<title>Ministerio Internacional Jesús el Buen Pastor</title>
		<ClientRouter />
	</head>
	<body class="bg-gray-100">
		<Navbar />

		<main>
			<slot />
		</main>

		<Footer />
	</body>
</html>
